<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body class='fluid-container'>
    <main class='parallax home'>
        <nav>
            <div class="btn-group">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Projects<span class="caret"></span>
  </button>
                <ul class="dropdown-menu">
                    <!-- Button trigger modal -->
                    <li><button type="button" class="project" data-toggle="modal" data-target="#addProj">Add Project</button></li>
                    <li><button class="projects-btn project">List Projects</button></li>
                    <!-- Button trigger modal -->
                    <li><button class="project" data-toggle="modal" data-target="#deleteProj">Delete Project</button></li>
                </ul>
                <button class="profile-button">Profile</profile>
            <button class='inspiration'>Inspiration</button>

            </div>
        </nav>
        <section class='full-profile'>
        </section>
        <aside class='project-display'>
          <span class='x'>&times</span>
        </aside>
        <aside class='inspiration-station'>
        </aside>
    </main>

    <!-- Add Project Modal -->
    <section class="modal fade" id="addProj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Project</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal add-project">
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-offset-3">
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-offset-3">
                                <input type="text" class="form-control" name="author" placeholder="Author">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-offset-3">
                                <input type="text" class="form-control" name="description" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-offset-3">
                                <input type="text" class="form-control" name="link" placeholder="Link">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-success" role="alert"></div>
                </div>
            </div>
        </div>
    </section>

<!-- Delete Project Modal -->
    <section class="modal fade" id="deleteProj" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Project</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal delete-project">
                        <div class="form-group">
                            <div class="col-sm-6 col-xs-offset-3">
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Handlebars Script -->

    <!-- profile -->
    <script id='profile-location' type='text/x-handlebars-template'>
        <div class="row">
            <h1 class='name first-name col-xs-1 col-xs-offset-4'>{{profile.name}}</h1>
        </div>
        <div class="row">
            <h1 class='name last-name col-xs-1 col-xs-offset-5'>{{profile.lastName}}</h1>
        </div>
        <img class='prof-pic' src={{profile.githubProfileImage}} alt='profile pic'>
    </script>

    <!-- projects -->
    <script id='projects-location' type="text/x-handlebars-template">
        <h3 class="title"><a href={{project.link}} alt={{project.title}}>{{project.title}}</a></h3>
        <h4>{{project.description}}</h4>

    </script>
    <script id="fullProfile" type="text/x-handlebars-template">
        <div class="row">
            <h1 class="col-xs-12 city name">{{profile.currentCity}}</h1>
            <h3>Github: {{profile.githubUsername}}
            <a class='link' href={{profile.personalSiteLink}} alt="personal profile">Profile</a>
    </script>
    <script id="inspirationSection" type="text/x-handlebars-template">
      <p class='missile'>{{quote}}</p>
    </script>
</body>

</html>
