
header {
  background-color: rgba(7, 15, 18, 0.92);
  color: #2F4D58;
  position: absolute;
  width: 50%;
  height: 100%;
}
.name {
  font-weight: bolder;
  font-size: 48px;
  margin-left: 2%;
  color: #41102C;
}
span {
  color: #2F4D58;

}
.prof-pic {
  width: 35px;
  height: 35px;
}
