/***********
header style
************/

header {
  background-color: rgb(7, 15, 18);
  color: #2F4D58;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.name {
  font-weight: bolder;
  font-size: 48px;
  margin-left: 2%;
  color: #41102C;
}
span {
  color: #2F4D58;
}
.prof-pic {
  width: 35px;
  height: 35px;
}

/************
nav styling
*************/
nav {
  /*position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1;*/
}

button {
  width: 100%;
  font-size: 24px;
  font-weight:  bolder;
  background-image: linear-gradient(to bottom, rgb(162, 10, 51), rgb(131, 8, 41));
  background-repeat: repeat-x;
  border: none;
  color: #fff;
  border-radius: 10px;
}
buttn:hover {
  
}


/************
main styling
*************/
main{
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(65, 16, 44);
}

/***************
project content
**************/
.project-description {
  background-color: rgba(26, 28, 29, 0.86);
}
